<launch>
    <!-- 定义所有机器人的名称 -->
    <arg name="robot1_name" default="car1" />
    <arg name="robot2_name" default="car2" />
    <arg name="robot3_name" default="car3" />
    <arg name="robot4_name" default="car4" />
    <arg name="robot5_name" default="car5" />
    <arg name="robot6_name" default="car6" />

    <!-- 定义机器人初始位置 (x, y, z) -->
    <arg name="robot1_pose" default="-11 -11 0" />
    <arg name="robot2_pose" default="-11 11 0" />
    <arg name="robot3_pose" default="11 -11 0" />
    <arg name="robot4_pose" default="11 11 0" />
    <arg name="robot5_pose" default="0 0 0" />
    <arg name="robot6_pose" default="3 0 0" />

    <!-- 定义机器人列表和对应的参数，便于循环处理 -->
    <arg name="robots" default="$(arg robot1_name);$(arg robot2_name);$(arg robot3_name);$(arg robot4_name);$(arg robot5_name);$(arg robot6_name)" />
    <arg name="poses" default="$(arg robot1_pose);$(arg robot2_pose);$(arg robot3_pose);$(arg robot4_pose);$(arg robot5_pose);$(arg robot6_pose)" />

    <!-- 遍历所有机器人，动态生成配置 -->
    <!-- 为了简化，这里仍使用 group 逐个配置，但参数化更清晰 -->
    <!-- 机器人 1 -->

     <group ns="$(arg robot1_name)">
        <param name="robot_description" command="$(find xacro)/xacro /mnt/planB/planning_explore/gazebo/robot_mid360.xacro prefix:=$(arg robot1_name)_ namespace:=/$(arg robot1_name)" />
        <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
            <remap from="robot_description" to="/$(arg robot1_name)/robot_description" />
        </node>
        <node pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" name="joint_state_publisher_gui" />
        <node pkg="tf2_ros" type="static_transform_publisher" name="static_transform_publisher" args="0 0 0 0 0 0 /$(arg robot1_name)_support /$(arg robot1_name)_support_depth" />
        <node pkg="gazebo_ros" type="spawn_model" name="spawn_model" args="-urdf -model $(arg robot1_name) -param /$(arg robot1_name)/robot_description -x 0 -y 0 -z 0" />
    </group>
   


    <!-- 为每个机器人添加全局框架到 odom 的静态变换 -->
    <node pkg="tf2_ros" type="static_transform_publisher" name="world_to_$(arg robot1_name)_odom" args="0 0 0 0 0 0 /world /$(arg robot1_name)_odom" />
 


    <!-- 加载 Gazebo 仿真环境 -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="/mnt/planB/planning_explore/gazebo/world/office.world" />
    </include>

    <!-- 启动 RViz 可视化 -->
    <node pkg="rviz" type="rviz" name="rviz" args="-d /mnt/planB/planning_explore/rviz/nav.rviz" />
</launch>